<div class="example-container mat-elevation-z8">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Celular</th>
        <th>Criado por</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of candidates">
        <td>{{ c.name }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.mobile }}</td>
        <td>{{ c.createdBy.name }}</td>
        <td>
          <i class="material-icons">
            more_vert
          </i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
