.candidates-length {
  position: absolute;
  top: 1.5rem;
}

hr {
  margin-top: 0rem !important;
}

.candidates-card {
  background-color: #F1F1F1;
  box-shadow: 1px 1px 8px rgba(134, 134, 138, .5);
  border-radius: 7px;
}
